*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5F5DC;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.container {
    margin:0 auto;
    max-width: 1400px;
}
h1{
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
h2{
    font-size: 2rem;
}
img.logo {
    display: block; 
    margin: 0 auto; 
    height: 200px;
    padding: 25px;
   
}

nav {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color:#008B8B;
    border-radius: 10px;
}

nav li {
    display: inline-block;
    margin: 0 15px; 
}

nav li a {
    display: flex;
    color: white; /* Cor dos itens da lista */
    text-decoration: none; /* Remove sublinhado */
    padding: 10px; /* Espaçamento interno para os links */
    transition: 0.4s;
   font-weight: bold;
}
nav li a._active{
    color: #e1f224;
}
nav li a:hover{
    color: #e1f224;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#promo {
    position: relative;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
}

#promo img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;

}

#promo button{
    
    font-size: 1.5rem;
    text-decoration:none;
    padding: 1px 20px;
    position: relative;
    border: 0;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 5px;
    border: 3px solid #e1f224;
    color:#e1f224;
    background-color: transparent;
    font-weight: bold;
    /*text-transform: uppercase;*/
}

#promo button:hover{
    background-color: #e1f224;
    color:#008B8B;
}

.img-container__text{
    z-index: 1; /*coloca o elemento em cima do outro*/
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
}

.Services-container{
    display: flex;
}
 

footer{
    display: flex;
    flex: 1;
}

