*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5F5DC;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    letter-spacing: 0.5px;
}

.container {
    margin:0 auto;
    max-width: 1400px;
    text-align: center;
}
h1{
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
h2{
    font-size: 2rem;
}
img.logo {
    display: block; 
    margin: 0 auto; 
    height: 200px;
    padding: 25px;
   
}

nav {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color:#008B8B;
    border-radius: 10px;
}

nav li {
    display: inline-block;
    margin: 0 15px; 
}

nav li a {
    display: flex;
    color: #fff; /* Cor dos itens da lista */
    text-decoration: none; /* Remove sublinhado */
    padding: 10px; /* Espaçamento interno para os links */
    transition: 0.4s;
    font-weight: bold;
}
nav li a._active{
    color: #e1f224;
}
nav li a:hover{
    color: #e1f224;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#promo {
    position: relative;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
}

#promo img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;

}

#promo button{
    
    font-size: 1.5rem;
    text-decoration:none;
    padding: 1px 20px;
    position: relative;
    border: 0;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 5px;
    border: 3px solid #e1f224;
    color:#e1f224;
    background-color: transparent;
    font-weight: bold;
    /*text-transform: uppercase;*/
}

#promo button:hover{
    background-color: #e1f224;
    color:#008B8B;
}

.img-container__text{
    z-index: 1; /*coloca o elemento em cima do outro*/
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
}

#Services{
    padding: 50px 0px;
}
.Services-container{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.Services__item{
        overflow: hidden; 
        flex: 0 0 30%;
        position: relative;
        height: 350px;
 }
 

.Services__item img{
   object-fit: cover;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   border-radius: 5px;
} 

.Services-item__text{
    position: relative;
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;   
    transition: 0.4s;
    background-color: rgba(0,0,0,0.2);
    padding: 0px 50px;
}

.Services-item__text p{
    transform: translateY(30px);
    opacity: 0;
}

.Services-item__text:hover{
    background-color: rgba(0,0,0,0.5);
}

.Services-item__text:hover p {
    opacity: 1;
}

footer.container-footer {
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FFEBCD;
}

footer.container-footer .item-footer {
    flex: 1;
    padding: 10px;
}

footer.container-footer .item-footer img {
    max-width: 80px;
    margin: 0 auto;
}

footer.container-footer .item-footer p {
    margin: 10px 0 0 0;
    font-size: 1rem;
    letter-spacing: 0.5px;
  
    
}

