*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5F5DC;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}
h1{
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
h2{
    font-size: 2rem;
}
.logo img {
    display: block; 
    margin: 0 auto; 
    height: 200px;
   
}

nav {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color:#008B8B;
    border-radius: 10px;
}

nav li {
    display: inline-block;
    margin: 0 15px; 
}

nav li a {
    display: flex;
    color: #333; /* Cor dos itens da lista */
    text-decoration: none; /* Remove sublinhado */
    padding: 10px; /* Espaçamento interno para os links */
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    margin-top: 20px;  
}

#imgpromo {
    height: 250px;
    width: 80%;
    border-radius: 1rem;
    object-fit:cover;
}

.img-container p {
    position: absolute;
    top: 59%;
    left: 72%;
    transform: translate(-50%, -50%); /* Centraliza o parágrafo na imagem */
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para melhor legibilidade */
    padding: 10px; /* Espaçamento interno */
    border-radius: 1rem; /* Bordas arredondadas */
}
 

.Artigos article {
   display: grid;
   grid-row: 1;
   width:30px;
}
article{
    flex: 1;
    margin: 10px;
    text-align: center;
}
footer{
    display: flex;
    flex: 1;
}

